{% extends 'base.html' %}

{% set active_page = 'books' %}

{% block content %}
<div class="w-75 mx-auto mb-4">
    <h2 class="mb-4">Edit book</h2>
    <form action="" method="post">
        {{ form.csrf_token }}
        <div class="row g-3">
            <div class="col-4">
                {{ form.id.label(class_="form-label") }}
                {% if not form.id.errors %}
                {{ form.id(class_="form-control") }}
                {% else %}
                {{ form.id(class_="form-control is-invalid") }}
                {% for error in form.id.errors %}
                <div class="invalid-feedback">
                    {{ error }}
                </div>
                {% endfor %}
                {% endif %}
            </div>
            <div class="col-8">
                {{ form.title.label(class_="form-label") }}
                {% if not form.title.errors %}
                {{ form.title(class_="form-control") }}
                {% else %}
                {{ form.title(class_="form-control is-invalid") }}
                {% for error in form.title.errors %}
                <div class="invalid-feedback">
                    {{ error }}
                </div>
                {% endfor %}
                {% endif %}
            </div>
            <div class="col-4">
                {{ form.isbn.label(class_="form-label") }}
                {% if not form.isbn.errors %}
                {{ form.isbn(class_="form-control") }}
                {% else %}
                {{ form.isbn(class_="form-control is-invalid") }}
                {% for error in form.isbn.errors %}
                <div class="invalid-feedback">
                    {{ error }}
                </div>
                {% endfor %}
                {% endif %}
            </div>
            <div class="col-4">
                {{ form.isbn13.label(class_="form-label") }}
                {% if not form.isbn13.errors %}
                {{ form.isbn13(class_="form-control") }}
                {% else %}
                {{ form.isbn13(class_="form-control is-invalid") }}
                {% for error in form.isbn13.errors %}
                <div class="invalid-feedback">
                    {{ error }}
                </div>
                {% endfor %}
                {% endif %}
            </div>
            <div class="col-4">
                {{ form.language_code.label(class_="form-label") }}
                {% if not form.language_code.errors %}
                {{ form.language_code(class_="form-control") }}
                {% else %}
                {{ form.language_code(class_="form-control is-invalid") }}
                {% for error in form.language_code.errors %}
                <div class="invalid-feedback">
                    {{ error }}
                </div>
                {% endfor %}
                {% endif %}
            </div>
            <div class="col-4">
                {{ form.num_pages.label(class_="form-label") }}
                {% if not form.num_pages.errors %}
                {{ form.num_pages(class_="form-control") }}
                {% else %}
                {{ form.num_pages(class_="form-control is-invalid") }}
                {% for error in form.num_pages.errors %}
                <div class="invalid-feedback">
                    {{ error }}
                </div>
                {% endfor %}
                {% endif %}
            </div>
            <div class="col-4">
                {{ form.publication_date.label(class_="form-label") }}
                {% if not form.publication_date.errors %}
                {{ form.publication_date(class_="form-control") }}
                {% else %}
                {{ form.publication_date(class_="form-control is-invalid") }}
                {% for error in form.publication_date.errors %}
                <div class="invalid-feedback">
                    {{ error }}
                </div>
                {% endfor %}
                {% endif %}
            </div>
            <div class="col-4">
                {{ form.publisher_name.label(class_="form-label") }}
                {% if not form.publisher_name.errors %}
                {{ form.publisher_name(class_="form-control") }}
                {% else %}
                {{ form.publisher_name(class_="form-control is-invalid") }}
                {% for error in form.publisher_name.errors %}
                <div class="invalid-feedback">
                    {{ error }}
                </div>
                {% endfor %}
                {% endif %}
            </div>
            <div class="col-4">
                {{ form.average_rating.label(class_="form-label") }}
                {% if not form.average_rating.errors %}
                {{ form.average_rating(class_="form-control") }}
                {% else %}
                {{ form.average_rating(class_="form-control is-invalid") }}
                {% for error in form.average_rating.errors %}
                <div class="invalid-feedback">
                    {{ error }}
                </div>
                {% endfor %}
                {% endif %}
            </div>
            <div class="col-4">
                {{ form.ratings_count.label(class_="form-label") }}
                {% if not form.ratings_count.errors %}
                {{ form.ratings_count(class_="form-control") }}
                {% else %}
                {{ form.ratings_count(class_="form-control is-invalid") }}
                {% for error in form.ratings_count.errors %}
                <div class="invalid-feedback">
                    {{ error }}
                </div>
                {% endfor %}
                {% endif %}
            </div>
            <div class="col-4">
                {{ form.text_reviews_count.label(class_="form-label") }}
                {% if not form.text_reviews_count.errors %}
                {{ form.text_reviews_count(class_="form-control") }}
                {% else %}
                {{ form.text_reviews_count(class_="form-control is-invalid") }}
                {% for error in form.text_reviews_count.errors %}
                <div class="invalid-feedback">
                    {{ error }}
                </div>
                {% endfor %}
                {% endif %}
            </div>
            <div class="col-12">
                <div class="d-flex justify-content-start align-items-center">
                    <h4 class="mb-0 me-4">Authors</h4>
                    <button type="button" class="btn btn-sm btn-outline-secondary" id="add-author-btn">Add author</button>
                </div>
            </div>
            <div id="authors">
                {% for author in form.authors.entries %}
                <div class="author col-12" id="author-{{ loop.index0 }}">
                    {{ author.form.name.label(class_="form-label") }}
                    <div class="d-flex">
                        {% if not author.errors %}
                        {{ author.form.name(class_="form-control me-2") }}
                        <button type="button" class="btn btn-danger" onclick="deleteAuthor(0)">Delete</button>
                        {% else %}
                        {{ author.form.name(class_="form-control is-invalid") }}
                        {% for error in author.errors %}
                        <div class="invalid-feedback">
                            {{ error }}
                        </div>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="col-12">
                <div class="d-flex">
                    <button type="submit" class="btn btn-primary me-2">Save</button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block custom_js %}
<script>
    window.onload = function() {
        let addAuthorBtn = document.getElementById('add-author-btn');
        addAuthorBtn.addEventListener('click', (e) => {
            e.preventDefault();
            let authors = document.getElementById('authors');
            let authorsCount = authors.getElementsByClassName('author').length;
            if (authorsCount > 9) {
                alert('Only 10 authors can be added.');
                return;
            }
            let newAuthorId = `authors-${authorsCount}-name`
            authors.insertAdjacentHTML(
                'beforeend',
                `<div class="author col-12" id="author-${authorsCount}">
                    <label class="form-label" for="${newAuthorId}">Author Name</label>
                    <div class="d-flex">
                        
                        <input class="form-control me-2" id="${newAuthorId}" maxlength="50" minlength="1" name="${newAuthorId}" required="" type="text" value="">
                        <button type="button" class="btn btn-danger" onclick="deleteAuthor(${authorsCount})">Delete</button>
                        
                    </div>
                </div>`
            )
        })
    }

    const deleteAuthor = (author) => {
        const authors = document.getElementById('authors');
        const authorsCount = authors.getElementsByClassName('author').length;

        if (authorsCount === 1) {
            alert('Author cannot be empty. Atleast one author is required.')
            return;
        }

        for (i = author+1; i < authorsCount; i++) {
            let authorName = document.getElementById(`authors-${i}-name`).value;
            document.getElementById(`authors-${i-1}-name`).value = authorName;
        }

        const lastAuthor = authors.querySelector(`#author-${authorsCount-1}`);

        authors.removeChild(lastAuthor);
    }
</script>
{% endblock %}