{% extends 'base.html' %}

{% set active_page = 'transactions' %}

{% block content %}
<h2 class="mb-0">Search Member</h2>
<hr>

<div class="mb-3 w-75 mx-auto">
    <form action="" method="get">   
        <div class="row g-2">
            <div class="col-11">
                {{ form.member_email(class_="form-control", placeholder="Member Email Address") }}
            </div>
            <div class="col-1">
                <button type="submit" class="btn btn-primary btn-block">Search </button>
            </div>
        </div>
    </form>
</div>

{% if transactions is defined %}
{% if transactions|length == 0 %}
<div class="m-5 text-center">
    <p class="lead">No books to be returned.</p>
</div>
{% else %}
<table class="table table-striped-columns">
    <thead>
        <tr>
            <th scope="col">Transaction ID</th>
            <th scope="col">Book</th>
            <th scope="col">Member</th>
            <th scope="col">Issue Date</th>
            <th scope="col">Due Date</th>
            <th scope="col">Return Date</th>
            <th scope="col">Remarks</th>
        </tr>
    </thead>
    <tbody>
        {% for transaction in transactions %}
        <tr>
            <td><a href="{{ url_for('transactions.transaction', id=transaction.id) }}">{{ transaction.id }}</a></td>
            <td>{{ transaction.stock.book.title }}</td>
            <td>{{ transaction.member.name }}</td>
            <td>{{ transaction.issue_date }}</td>
            <td>{{ transaction.due_date }}</td>
            <td>
                {% if transaction.is_returned %}
                {{ transaction.transaction.return_date }}
                {% else %}
                Not returned yet.
                {% endif %}
            </td>
            <td>
                {% if transaction.is_returned %}
                    {% if not transaction.is_due_paid %}
                    Returned but dues not paid.
                    {% else %}
                    Due paid.
                    {% endif %}
                {% else %}
                {{ transaction.extra_days }} days have passed since due date.
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% endif %}
{% endblock %}