{% extends 'base.html' %}

{% set active_page = 'transactions' %}

{% block content %}
<div class="d-flex justify-content-between align-items-center">
    <h2 class="mb-0">Transactions</h2>
    <div class="d-flex">
        <a href="#" class="btn btn-warning me-2">Issue Book</a>
        <a href="#" class="btn btn-success">Return Book</a>
    </div>
</div>
<hr>

<div class="mb-3">
    <form action="" method="get">   
        <div class="row g-2">
            <div class="col-2">
                {{ form.issue_return_due.label(class_="form-label") }}
                {{ form.issue_return_due(class_="form-select") }}
            </div>
            <div class="col-4">
                {{ form.from_date.label(class_="form-label") }}
                {{ form.from_date(class_="form-control") }}
            </div>
            <div class="col-4">
                {{ form.to_date.label(class_="form-label") }}
                {{ form.to_date(class_="form-control") }}
            </div>
            <div class="col-2">
                <div class="d-flex flex-column">
                    <a href="{{ url_for('transactions.transactions') }}" class="btn btn-secondary mb-1">Clear</a>
                    <button type="submit" class="btn btn-primary btn-block">Search</button>
                </div>
            </div>
        </div>
    </form>
</div>

<table class="table table-striped-columns">
    <thead>
        <tr>
            <th scope="col">Transaction ID</th>
            <th scope="col">Book</th>
            <th scope="col">Member</th>
            <th scope="col">Issue Date</th>
            <th scope="col">Due Date</th>
            <th scope="col">Return Date</th>
            <th scope="col">Remarks</th>
        </tr>
    </thead>
    <tbody>
        {% for transaction in transactions %}
        <tr>
            <td>{{ transaction.id }}</td>
            <td>{{ transaction.stock.book.name }}</td>
            <td>{{ transaction.member.name }}</td>
            <td>{{ transaction.issue_date }}</td>
            <td>{{ transaction.due_date }}</td>
            <td>
                {% if transaction.is_returned %}
                {{ transaction.transaction.return_date }}
                {% else %}
                Not returned yet.
                {% endif %}
            </td>
            <td>
                {% if transaction.is_returned %}
                    {% if transaction.is_due_paid %}
                    Returned but dues not paid.
                    {% else %}
                    Due paid.
                    {% endif %}
                {% else %}
                {{ transaction.extra_days }} days have passed since due date.
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}