{% extends 'base.html' %}

{% set active_page = 'members' %}

{% block content %}
<div class="d-flex justify-content-between align-items-center">
    <h2 class="mb-0">Members</h2>
    <a href="{{ url_for('members.add_member') }}" class="btn btn-success">Add Member</a>
</div>
<hr>

<div class="mb-3">
    <form action="" method="get">   
        <div class="row g-2">
            <div class="col-2">
                {{ form.search_by(class_="form-select") }}
            </div>
            <div class="col-9">
                {{ form.search_term(class_="form-control", placeholder="Search Term") }}
            </div>
            <div class="col-1">
                <button type="submit" class="btn btn-primary btn-block">Search</button>
            </div>
        </div>
    </form>
</div>

{% if not members|length %}
<div class="p-4 text-center">
    <p class="lead">No data found.</p>
</div>
{% else %}
<table class="table table-striped-columns">
    <thead>
        <tr>
            <th scope="col">Member ID</th>
            <th scope="col">Name</th>
            <th scope="col">Email Address</th>
            <th scope="col">Date of Joining</th>
            <th scope="col">Debt</th>
        </tr>
    </thead>
    <tbody>
        {% for member in members %}
        <tr>
            <td><a href="{{ url_for('members.member_view', id=member.id) }}">{{ member.id }}</a></td>
            <td>{{ member.name }}</td>
            <td>{{ member.email }}</td>
            <td>{{ member.joining_date }}</td>
            <td>₹ {{ member.total_dues }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}